<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
</head>
<body>
    <p>Puerto: <%=process.env.PORT%></p>
    <p>URL BD: <%=process.env.MONGO_URL%></p>
    <p>Mail Notificaciones: <%=process.env.MAIL_USER%></p>
    <p>Passowrd Mail Notificaciones: <%=process.env.MAIL_PASSWORD%></p>
    <p>Tiempo de Expiración de Sesión: <%=process.env.EXPIRATION%></p>
</body>
</html>